.catalog-section{
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  &-item{

  }
  .catalog-card{
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}