@import "variables";

.top-header {
  min-height: 36px;
  display: grid;
  place-items: center;

  a {
    font-size: 15px;
    color: $dark;
    padding: 0 8px;

    &:hover {
      color: $light;
    }
  }
}

.header {
  border-top: 1px solid $middle;
  border-bottom: 1px solid $middle;
  background: white;
  top: 0;

  .header-middle {
    min-height: 67px;

    .header-title {
      font-family: "Roboto Light";
      font-size: 46px;
      font-weight: lighter;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 768px) {
      .header-title {
        margin: 0 auto 0 0;
        font-weight: 500;
        font-size: 36px;
        position: static;
        transform: translate(0, 0);
      }
      .buttons.search {
        display: none;
      }
    }

    input.search {
      background-color: #F8F8F8;
      border: 1px solid transparent;
      outline: none;
      padding: 7px 12px;
      flex-grow: 1;
      font-size: 16px;

      &:focus {
        border-color: $dark;
      }
    }

    button.search {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.bottom-header {
  min-height: 36px;
  place-items: center;
  text-transform: uppercase;
  background: white;
  top: 68.5px;

  nav {
    gap: 30px;
  }

  a {
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.side-menu-links a{
  font-size: 16px;
  margin-top: 10px;
}