.text-content-section{
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  .text-content > p{
    max-width: 1030px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 19px;
    text-align: justify;
  }

  &_image-block{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    .main-img{
      max-width: 50%;
      object-fit: cover;
      @media (max-width: 768px) {
        max-width: 100%;
      }
      height: auto;
    }

    button{
      width: 100%;
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }
}